{% extends 'main.html' %}
{% block content %}
<div class="container">
  <h1 class="mt-3"> Latest Blog Posts </h1>
  <hr>
  <div class="row">
    {% for blog in blogs %}
    <div class="col-4">
      <img src="{{blog.image.url}}" width=350 height=auto>
      <a href="{% url 'blog:blogpost' blog.id %}">
      <h3 class="mt-2"> {{blog.title}} </h3>
      </a>
      <p> {{ blog.summary }} </p>
      <small> {{ blog.pub_date_pretty }} </small>
    </div>
    {% endfor %}
  </div>
  
</div>
{% endblock %}
